body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.foot{
  background-color: rgba(0, 0, 0, 0.2);
}

.app{
  max-width: 18rem;
  background-color:ghostwhite;
  color: crimson;
  float: left;
}
img{
  padding: 2rem;
  border-radius: 1%;
}