body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.foot{
  background-color: rgba(0, 0, 0, 0.2);
}

.app{
  width: 23rem;
  background-color:ghostwhite;
  color: crimson;
  float: left;
  margin-top: 1rem;
  margin-left: 4rem;
}
img{
  padding: 2rem;
  border-radius: 1%;
}
.login{
  
  max-width: 40rem;
  margin-top: 5rem;
  margin-left: 5rem;
}